name: cpd_assignment
description: "Cross-platform timezone tracker application with notifications and analytics."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  flutter_local_notifications: ^20.0.0
  firebase_core: ^4.4.0
  firebase_analytics: ^12.1.1
  geolocator: ^14.0.2
  image_picker: ^1.0.7
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
